In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
2*3

6

In [4]:
1/2

0.5

In [5]:
2**4

16

In [6]:
5%2

1

In [7]:
x = 2
y = 3
x + y

5

variable name cannot start with numbers, use underscore .    #Strings.  ""   ''

In [8]:
x

2

In [10]:
print(x)

2

In [17]:
num = 12
name = 'sam'

In [18]:
print('My number is {} and my name is {}'.format(num,name))

My number is 12 and my name is sam

In [19]:
'My number is {} and my name is {}'.format(num,name)

'My number is 12 and my name is sam'

In [21]:
print('My number is {one} and my name is {two}, more {one}'.format(one=num,two=name))

My number is 12 and my name is sam, more 12

In [23]:
s = 'abcdefghijk'
s[0]

'a'

In [24]:
s[0:]

'abcdefghijk'

In [26]:
s[:5] #upto but not including the last index

'abcde'

In [27]:
s[3:6]

'def'

In [28]:
[1,2,3]  #list, can also be strings

[1, 2, 3]

In [29]:
['a', 'b','c']

['a', 'b', 'c']

In [31]:
my_list = ['a', 'b','c']

In [32]:
my_list.append('d')

In [33]:
my_list

['a', 'b', 'c', 'd']

In [35]:
my_list[1:3]

['b', 'c']

In [36]:
my_list[0] = 'New'

In [37]:
my_list

['New', 'b', 'c', 'd']

In [38]:
nest = [1, 2, [3, 4]]

In [39]:
nest[2]

[3, 4]

In [40]:
nest[2][1]

4

In [41]:
nest = [1,2,3,[4,5,['target']]]

In [43]:
nest[3][2]

['target']

In [46]:
nest[3][2][0]

'g'

In [45]:
print(nest[3][2][0])

target

In [47]:
#dictionary, specify with {}, key and value corresponds to that key, key-value pairs, 
#each elements are key-value pairs

In [48]:
d = {'key1': 'value', 'key2': 123}

In [51]:
d['key1']

'value'

In [52]:
d['key2']

123

In [53]:
dic = {'k1': [1,2,3]}

In [54]:
dic['k1']

[1, 2, 3]

In [55]:
dic['k1'][1]

2

In [56]:
#dictionary nested in another dictionary

In [57]:
dic2 = {'k1':{'innerkey':[1,2,3,4]}}

In [59]:
dic2['k1']['innerkey']

[1, 2, 3, 4]

In [60]:
dic2['k1']['innerkey'][1]

2

In [61]:
True

True

In [62]:
False

False

In [63]:
#difference between list and Tuple! list: we can call indexing within a list, change elements within a list, tuple cannot
#If we wish that users cannot change any element within list, we use tuple, not list. use () instead of []
#tuple is immutable

In [64]:
t = (1,2,3)

In [65]:
t[0]

1

In [66]:
t[0] = 'new' #This will give us an error! 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [67]:
 #sets, only get the unique items

In [68]:
{1,1,1,2,2,2,3,3,3,3}

{1, 2, 3}

In [70]:
set([1,1,1,2,2,2,3,3,3,3,5,5,6,6]) #call set function, pass a list and return unique element

{1, 2, 3, 5, 6}

In [71]:
s = {1,2,3}

In [73]:
s.add(5)

In [74]:
s

{1, 2, 3, 5}

In [75]:
1 != 3

True

In [76]:
1 < 2

True

In [87]:
(1 < 2) and (2 > 3)

False

In [89]:
'hello' == 'hey'

False

In [78]:
(1 < 2) or (2 > 3)

True

In [85]:
if True:
    print('hey')

hey

In [86]:
if True:
    b = 2+3
b

5

In [ ]:
#for loop is for iterate through a sequence object, use any temporary variable name
#the action within a for loop, doesn't have to be related to the items within the sequence

In [90]:
seq = [1,2,3,4,5]

In [91]:
for num in seq:
    print(num)

1
2
3
4
5

In [92]:
# use while loop to continuously performing some action until some condition has been met

In [93]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i += 1

i is: 1
i is: 2
i is: 3
i is: 4

In [94]:
# range

In [96]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [98]:
for x in list(range(5)):
    print(x)

0
1
2
3
4

In [99]:
range(0,5)

range(0, 5)

In [101]:
print(list(range(0,5)))

[0, 1, 2, 3, 4]

In [102]:
xlist = [1,2,3,4]

In [106]:
out = []

for num in xlist:
    out.append(num**2)
print(out)

[1, 4, 9, 16]

In [ ]:
# list comprehension

In [107]:
out = [num**2 for num in xlist]
print(out)

[1, 4, 9, 16]

In [118]:
def my_func(name = 'Default name'):
    print('Hello {}'.format(name) )
my_func(456)
my_func()

Hello 456
Hello Default name

In [117]:
def my_func(name = 'Default name'):
    print('Hello' + name )
my_func(123)

TypeError: can only concatenate str (not "int") to str

In [121]:
def square(num):
    """
    this is a docstring.
    can go multiple lines
    this function squares a number
    call this doc string with shift+tab
    """
    return num**2
output = square(num)

In [119]:
#return the value, then we can store it somewhere, put it in a variable. we can call it later
#print a variable in a function will not store the value anywhere, it will just print the value

In [122]:
#use Map and filter functions, then use lambda expressions instead of writing a full function out

In [ ]:
#map function

In [123]:
print(seq)
map(lambda num: num**2, seq)

[1, 2, 3, 4, 5]

In [124]:
print(seq)
list(map(lambda num: num**2, seq))

[1, 2, 3, 4, 5]

[1, 4, 9, 16, 25]

In [126]:
t = lambda num: num*5
t(6)
#but we typically don't use lambda expression like this, we use it in connection with map and filter function

30

In [ ]:
#filter function

In [127]:
filter(lambda num: num%2 == 0, seq)

In [129]:
list(filter(lambda num: (num+1)%2 == 0, seq))

[1, 3, 5]

In [ ]:
#s.lower() s.upper() s.split()

In [131]:
tweet = 'Go Sports! #Sports'
tweet.split() #split function default is to split based on white spaces

['Go', 'Sports!', '#Sports']

In [133]:
tweet.split('#')

['Go Sports', ' #Sports']

In [134]:
tweet.split('#')[1]

'Sports'

In [136]:
tweet = 'Go Sports! #Sports #Go'
tweet.split('#')

['Go Sports! ', 'Sports ', 'Go']

In [139]:
tweet.split('#')[2]

'Go'

In [140]:
#dictionary: it's useful to know dict.keys    dict.values     dict.items

In [141]:
#list

In [147]:
lst = [1,2,3,4,5]

In [143]:
lst.pop() #pop function pops an item out of a list and return the value

5

In [144]:
#pop is useful in stack or queuing system
#stack, you always get access to the item on the top of the stack
#queuing, pop out the first item and new one comes in last

In [146]:
item = lst.pop()
item

4

In [148]:
first = lst.pop(0)

In [149]:
lst

[2, 3, 4, 5]

In [150]:
lst.append('new')

In [151]:
lst

[2, 3, 4, 5, 'new']

In [152]:
#tuple unpacking

In [153]:
x = [(1,2),(3,4), (5,6)] # a list of tuples

In [154]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [157]:
for a,b in x:
    print (a)
    print (b)

1
2
3
4
5
6